*, *::before, *::after {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 25px; }

td {
  font-size: 14px; }

.fa-trash {
  color: red; }

.fa-edit {
  color: green; }

/*# sourceMappingURL=main.css.map */
