{% extends 'base.html' %}

{% block head %}
	<title>Task Master</title>
{% endblock head %}

{% block body %}
	<div class="container-fluid content">
		<h1 class="text-center mt-3">Task Master</h1>
		{% if tasks|length < 1 %}
		<p>There are no tasks for you to complete!  Great Job!!!!</p>
		{% else %}


		<table class="table table-sm table-bordered">
			<tr>
				<th class="text-center">Task</th>
				<th class="text-center">Added</th>
				<th class="text-center">Actions</th>
			</tr>
			{% for task in tasks %}
			<tr>
				<td>{{ task.content }}</td>
				<td class="text-center">{{ task.created.date() }}</td>
				<td class="text-center">
					<a href="/delete/{{ task.id }}"><i class="fas fa-trash"></i></a>
					<a href="/update/{{ task.id }}"><i class="fas fa-edit pl-3"></i></a>
				</td>
			</tr>
			{% endfor %}
		</table>

		{% endif %}
		<form action="/" method="POST">
			<div class="input-group input-group-sm mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Task</span>
				</div>
				<input type="text" class="form-control" aria-label="Sizing example input"
				       aria-describedby="inputGroup-sizing-sm" name="content" id="content">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
				</div>
			</div>
		</form>

	</div>

{% endblock body %}
