{% extends 'base.html' %}

{% block head %}
	<title>Task Master: Update</title>
{% endblock head %}

{% block body %}
	<div class="container-fluid content">
		<h1 class="text-center mt-3">Task Master: Update</h1>

		<form action="/update/{{ task.id }}" method="POST">
			<div class="input-group input-group-sm mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Task</span>
				</div>
				<input type="text" class="form-control" aria-label="Sizing example input"
				       aria-describedby="inputGroup-sizing-sm" name="content" id="content" value="{{ task.content }}">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update</button>
				</div>
			</div>
		</form>

	</div>

{% endblock body %}
